@model MasterPiece.Models.Comment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    dt {
        color: darkred;
    }
</style>
<div style="text-align:center">
    <h3>Are you sure you want to delete ?</h3>

</div>

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 50vh;">
        <div class="col-12 col-sm-8 col-md-10 col-lg-10 col-xl-8">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary"><img src="../../AdminContent/img/noCatsLogo.png" width="50px" height="50px"> NoCats</h3>
                    </a>
                    <h3>Delete Category</h3>
                </div>    
                <hr />    <div>
                              <dl class="dl-horizontal">
                                  <dt>
                                      User Name
                                  </dt>

                                  <dd>
                                      @Html.DisplayFor(model => model.AspNetUser.first_Name)
                                      @Html.DisplayFor(model => model.AspNetUser.last_Name)

                                  </dd>

                                  <dt>
                                      Product Name
                                  </dt>

                                  <dd>
                                      @Html.DisplayFor(model => model.Product.Product_Name)

                                  </dd>
                                  <dt>
Comment
                                  </dt>

                                  <dd>
                                      @Html.DisplayFor(model => model.Comment_text)

                                  </dd>

                              </dl>
                </div>
                <p>
                    <input type="submit" value="Delete" class="btn btn-danger" /> |

                   
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>