@model IEnumerable<MasterPiece.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .thumbnail {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.7s;
        -webkit-transition-timing-function: ease;
    }
        /*change the number below to scale to the appropriate size*/
        .thumbnail:hover {
            transform: scale(3);
        }

    .btn {
        width: 120px !important;
    }
</style>
@section search
    {
    @using (Html.BeginForm("Search", "Products", "", FormMethod.Post, new { @class = "d-none d-md-flex ms-4" }))
    {
        <input class="form-control bg-dark border-0" type="search" placeholder="Search By Product Name" name="SearchItem" style="width:225px">
    }
}
<div style="text-align:center">
    <h2>Products</h2>
</div>
@*<div style="display: flex; justify-content: start;"><a href="../Products/Create">&nbsp &nbsp &nbsp &nbsp New Product</a></div>*@

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Products</h6>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Description</th>
                                <th scope="col">Category</th>
                                <th scope="col">Store</th>
                                <th scope="col">Image</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int counter = 1; }

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product_Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product_Price) JD
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product_Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Category_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Store.Store_Name)
                                    </td>
                                    <td>
                                        <img src="../../ProductImage/@item.Product_Image" class="thumbnail" width="50px" height="50px" />
                                    </td>
                                    <td>
                                        @if (item.isFeatured == false || item.isFeatured == null)
                                        {

                                            @Html.ActionLink("Feature It", "Feature", new { id = item.Product_id }, new { @class = "btn btn-success" })

                                        }
                                        else
                                        {
                                            @Html.ActionLink("Unfeature It", "UnFeature", new { id = item.Product_id }, new { @class = "btn btn-danger" })

                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Product_id })
                                    </td>

                                </tr>
                                counter++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (TempData["swal_message"] != null)
{
    <script>
    swal({
      title: "@TempData["title"]",
      text: "@TempData["swal_message"]",
      icon: "@TempData["icon"]"
    });
    </script>
}
