@model IEnumerable<MasterPiece.Models.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .thumbnail {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.7s;
        -webkit-transition-timing-function: ease;
    }
        /*change the number below to scale to the appropriate size*/
        .thumbnail:hover {
            transform: scale(3);
        }
    th {
        text-align:center;
    }
    td {
    text-align:center;
    }
</style>

<div style="text-align:center">
    <h2>Stores</h2>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Products</h6>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>

                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>

                                <th scope="col">Store Name Color</th>
                                <th scope="col">Owner</th>
                                <th scope="col">Image</th>
                                <th scope="col">
                                    Commercial Record
                                </th>

                                <th scope="col">
                                    Status
                                </th>
                                <th scope="col">Actions</th>
                                <th scope="col">
                                    Details
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int counter = 1; }
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@counter</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Store_Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Store_Color)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Owner_Name)
                                    </td>
                                    <td>
                                        <img src="../../Images/@item.Store_Image" class="thumbnail" style="width:50px; height:50px; "/>
                                    </td>
                                    <td> <a href="~/Commercial_Recordes/@item.Commercial_Record" download style="text-decoration-line:underline">Record </a> </td>
                                    <td>
                                        @if (item.isAccepted == true)
                                        {
                                            if (item.isBlocked != true)
                                            {
                                                <span class="btn btn-success">Accepted</span>
                                            }
                                            else
                                            { <span class="btn btn-danger">Blocked</span>
                                            }
                                        }
                                        else if (item.isAccepted == false)
                                        {
                                            <span class="btn btn-danger">Regected</span>
                                        }
                                        else
                                        { <span class="btn" style="color:white; background-color:orange; padding:5px 20px 5px 20px">Pending</span>}
                                        @*@Html.DisplayFor(modelItem => item.IsAccepted)*@
                                    </td>
                                    <td style="text-align:center;">
                                        @if (item.isAccepted == null)
                                        {
                                            <div style=" padding-left:20px">
                                                @Html.ActionLink("Accept", "Accept", new { id = item.Store_id }, new { @class = "btn btn-success" })

                                                @Html.ActionLink("Reject", "Reject", new { id = item.Store_id }, new { @class = "btn btn-danger" })
                                            </div>
                                        }
                                        else if (item.isAccepted == true && item.isBlocked != true)
                                        { @Html.ActionLink("Block", "Block", new { id = item.Store_id }, new { @class = "btn btn-danger" })
                                    }
                                    else if (item.isAccepted == true && item.isBlocked == true)
                                    {
                                         @Html.ActionLink("UnBlock", "UnBlock", new { id = item.Store_id }, new { @class = "btn btn-danger" })

                                    }


                                    </td>
                                    <td>

                                        @Html.ActionLink("Details", "Details", new { id = item.Store_id })

                                    </td>
                                </tr>
                                counter++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

