@model MasterPiece.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}
<style>
    dt {
        color: darkred;
    }
</style>
<div style="text-align:center">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete <span style="color:darkred"> @Model.Product_Name?</span></h3>
</div>
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 50vh;">
        <div class="col-12 col-sm-8 col-md-10 col-lg-10 col-xl-8">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary"><img src="../../AdminContent/img/noCatsLogo.png" width="50px" height="50px"> NoCats</h3>
                    </a>
                    <h3>Delete Product</h3>
                </div>    <h4>@Model.Product_Name</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Product_Name)

                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Product_Name)
                    </dd>



                    <dt>
                        @Html.DisplayNameFor(model => model.Product_Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Product_Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Product_Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Product_Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Category.Category_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category.Category_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Store.Store_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Store.Store_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Product_Image)
                    </dt>

                    <dd>
                        <img src="../../ProductImage/@Model.Product_Image" class="thumbnail" width="150px" height="150px" />
                    </dd>

                </dl>
                <br />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }

            </div>
        </div>
    </div>
</div>