@model Tuple<List<MasterPiece.Models.Product>, List<MasterPiece.Models.testimonial>>

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";

}
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Trusted & Affordable</p>
                        <h1>The Best Pc Accessories You Can Ask For</h1>
                        <div class="hero-btns">
                            <a href="@Url.Action("Products","Home","")" class="boxed-btn">Check Our Collection</a>
                            <a href="@Url.Action("Contact","Home","")" class="bordered-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>When order over 100 JOD</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>24/7 Support</h3>
                        <p>Get support all day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Refund</h3>
                        <p>Get refund within 7 days!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Featured</span> Products</h3>
                    <p>This Section Contains Our 3 Featured Products Top of the Top , Best of the BEST.</p>
                </div>
            </div>
        </div>

        <div class="row">
            @{
                int counter = 0;
                foreach (var item in Model.Item1)
                {
                    bool check = Convert.ToBoolean(item.isFeatured);
                    if (check)
                    {
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="@Url.Action("SingleProduct", "Home", new { id=item.Product_id})"><img src="../ProductImage/@item.Product_Image" alt=""></a>
                                </div>
                                <h3>
                                    @item.Product_Name
                                </h3>
                                <p class="product-price" style="font-size:14px">@item.Store.Store_Name</p>

                                <p class="product-price">@item.Product_Price JOD </p>
                                <a href="@Url.Action("AddItem","Home", new { Id =item.Product_id , returnUrl = Request.RawUrl })" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                        if (counter == 2) { break; }
                        counter++;
                    }
                }
            }
        </div>
    </div>
</div>
<!-- end product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">New</span> Products</h3>
                    <p>This section contains our recent added products.</p>
                </div>
            </div>
        </div>

        <div class="row">
            @{
                int newcounter = 0;
                foreach (var item in Model.Item1)
                {

                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="@Url.Action("SingleProduct", "Home", new { id=item.Product_id})"><img src="../ProductImage/@item.Product_Image" alt=""></a>
                            </div>
                            <h3>
                                @item.Product_Name
                            </h3>
                            <p class="product-price" style="font-size:14px">@item.Store.Store_Name</p>

                            <p class="product-price">@item.Product_Price JD </p>
                            <a href="@Url.Action("AddItem","Home", new { Id =item.Product_id , returnUrl = Request.RawUrl })" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                    if (newcounter == 2) { break; }
                    newcounter++;
                }
            }

        </div>
    </div>
</div>
<!-- testimonail-section -->
<div class="testimonail-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    @foreach (var item in Model.Item2)
                    {


                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="../assets/img/@item.userImage" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>@item.UserName</h3>
                            <p class="testimonial-body">
                                @item.userMessage
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->
<!-- logo carousel -->

<!-- end logo carousel -->
<!-- footer -->
<!-- end footer -->
<!-- jquery -->
<script src="../assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="../assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="../assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="../assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="../assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="../assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="../assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="../assets/js/sticker.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (TempData["swal_message"] != null)
{
    <script>
    swal({
      title: "@TempData["title"]",
      text: "@TempData["swal_message"]",
      icon: "@TempData["icon"]"
    });
    </script>
}